body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
}

.video-container {
  flex: 2;
  padding-right: 1rem;
  position: sticky;
  top: 0;
}

.form-container {
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem; /* Adiciona espaço abaixo da tabela */
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}

thead {
  position: sticky;
  top: 0;
  background-color: #fff; /* opcional: adiciona uma cor de fundo para diferenciar o cabeçalho da tabela do resto da tabela */
}
