body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh; /* Limitar a altura do contêiner ao tamanho da janela do navegador */
}

.video-container {
  flex: 2;
  padding-right: 1rem;
  position: -webkit-sticky; /* Para suporte a navegadores antigos */
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow: auto;
}

.form-container {
  flex: 1;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}
